body{
    font-family: 'Roboto';
}


.card .card-action{
    border-top: 1px solid rgba(255,255,255,0.6);
    color: white;
}


h2{
    text-align: center;
    color: #78909c;
}


img{
    border-style: double;
    border-radius: 3px;
}

.card .card-content p {
    font-style: italic;
}

ul.pagination{
    text-align: center;
}

.pagination li{
    display: inline-block;
    vertical-align: top;
    height: 30px;
    padding: 3px;
    border-radius: 100%;
    width: 30px;
    text-align: center;
}

.pagination li.active {
    background-color: #1e88e5;
    padding: 6px;
}
